// scss file used with live sass extension in vscode. sass file automatically converted into mininified css.
// All comments will be placed in this file, using this method as they do not end up in the css - saving bandwidth

// font imports
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Shadows+Into+Light&family=Titillium+Web&display=swap");
@import url("https://use.typekit.net/dto8xoa.css");

// font variables
$handwritten: "Shadows Into Light", sans-serif;
$painted: flood-std, sans-serif;
$main-text: "Titillium Web", sans-serif;
$alt: "Syncopate", sans-serif;

// colour variables
$wade-black: #121212;
$wade-white: #fcfcfc;
$wade-teal: #569aa9;
$wade-blue: #496275;

// scroll behaviour set on the html tag as used for the back to top button via a tag and id
html {
  scroll-behavior: smooth;
}

// general styles set
body {
  margin: 0;
}

main {
  font-family: $painted;
  font-size: 2em;
}
// navbar styles /\/\/\/\/\
// nav bar logo and links spaced using flex. aligned centrally
header {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  font-family: $handwritten;
  font-size: 1em;
  align-items: center;

  a {
    position: relative;
    text-decoration: none;
    color: $wade-black;
    font-weight: bolder;
    font-size: 2em;
    margin-right: 20px;
    text-transform: uppercase;
  }
  // pseudo element used for the hover state where a line expands out under the text
  a:before {
    content: "";
    bottom: 0;
    height: 3px;
    left: 0;
    position: absolute;
    background: $wade-teal;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
  }

  a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

// homepage styles /\/\/\/\/\

#intro {
  text-align: center;
  margin-bottom: 12vh;

  p {
    font-family: $handwritten;
  }
  // background image placed within the header text by clipping to the text shape and making the font transparent
}

h1 {
  text-align: center;
  font-family: $alt;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 22vw;
  font-weight: bolder;
  margin: 0;
  background-image: url(/images/homepage/waves.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 80%;
}

// pseudo element used to position a post note image behind the text
#postit {
  position: relative;

  &::after {
    content: "";
    background-image: url(/images/homepage/post-it.png);
    background-size: cover;
    position: absolute;
    width: 95px;
    height: 92px;
    z-index: -1;
    top: -18px;
    left: -8px;
  }
}

// grid used with 2 equal columns
#aboutme {
  background-color: $wade-black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: $wade-white;

  div {
    margin: 0 5% 5% 10%;
  }

  p {
    font-size: 1.3rem;
    font-family: $main-text;
    margin: 0;
  }

  img {
    justify-self: end;
    width: 25vw;
    margin: 20px 10% 20px 0;
  }
}

h2 {
  font-family: $painted;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: $wade-teal;
}

#moreaboutme {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  img {
    width: 30vw;
    margin: 7% 10%;
  }

  div {
    margin: 0 10% 5% 5%;
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.3rem;
    font-family: $main-text;
    margin: 0;
  }

  ul {
    font-size: 1.3rem;
    font-family: $main-text;
  }
}

// contact styles /\/\/\/\/\

// h1 on these pages are a different size
#contactme,
#process {
  h1 {
    font-size: 10vw;
  }
}

#contactme {
  margin-bottom: 5vh;
  font-family: $main-text;

  h1 {
    place-items: center;
    grid-column: 1/3;
  }

  p {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    color: $wade-blue;

    &:hover {
      font-weight: bolder;
    }
  }

  form {
    display: grid;
    width: 400px;

    input,
    textarea,
    button {
      margin: 5px;
      border: 2px $wade-blue solid;
      border-radius: 5px;
      font-family: $main-text;
      font-size: 0.5em;
    }

    button {
      background-color: #595959;
      color: $wade-white;
      font-weight: bold;
      text-decoration: none;
      box-shadow: #595959 1px 1px 6px;

      &:hover {
        background-color: $wade-teal;
      }
    }
  }

  #contactlinks {
    color: $wade-black;
  }
}

// project page styles /\/\/\/\/\

#myprocess {
  text-align: center;
  margin-bottom: 5vh;

  h2 {
    color: $wade-teal;
    margin-bottom: 20px;
  }
  img {
    width: 75vw;
  }
}

#projectcards {
  text-align: center;
  width: 85%;
  margin: 5vh auto;

  .card {
    text-align: left;
    max-width: 500px;
    display: inline-block;
    border: 3px $wade-black solid;
    border-radius: 1px;
    margin: 3%;

    // card hover states
    &:hover {
      box-shadow: #595959 2px 2px 15px;
      transition: 0.2s;

      h3 {
        color: $wade-teal;
        transition: 0.2s;
      }
      // hover state for images removes filter
      img {
        filter: grayscale(0);
        transition: 0.2s;
      }
    }

    a {
      text-decoration: none;
    }

    h3 {
      margin: 2%;
      font-family: $painted;
      font-size: 1em;
      color: $wade-black;
    }

    p {
      margin: 2%;
      font-family: $handwritten;
      color: $wade-black;
      font-size: 0.8em;
    }

    img {
      filter: grayscale(1);
      width: 500px;
      height: 320px;
    }
  }
}

// brief pages styling /\/\/\/\/\

.briefstyling {
  h3 {
    margin: 2% 2% 2% 0;
    color: $wade-teal;
  }

  p,
  ul {
    font-size: 0.6em;
    font-family: $main-text;
    margin: 0;
    line-height: 1.6em;
  }

  ul {
    margin: 5px 0;
  }

  img {
    width: 500px;
    margin: 3% 3% 3% 0;
  }

  .userdocs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #brief02wireframes {
    width: 100%;
  }
}

.briefintro {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  h1 {
    grid-column: 1/3;
    text-align: center;
    line-height: 1.3;
    font-size: 4vw;
  }

  div {
    margin: 2% 2% 5% 0%;
  }

  p,
  a {
    font-size: 0.65em;
  }

  img {
    justify-self: right;
    align-self: center;
  }

  a {
    text-decoration: none;
    background-color: #595959;
    color: $wade-white;
    padding: 1% 2%;
    font-family: $handwritten;
    font-size: 0.7em;
    border-radius: 10px;
    box-shadow: #595959 1px 1px 6px;

    &:hover {
      background-color: $wade-teal;
    }
  }
}

.briefdescription,
.brief {
  font-size: 0.6em;
  font-family: $main-text;
}

.central {
  width: 75%;
  margin: 5vh auto;
}

#currentsystem {
  img {
    width: 100%;
    margin: 2% 0;
  }
}

#briefprototype {
  img {
    width: 100%;
  }
}

#coffeephotos {
  img {
    max-width: 25%;
    margin: 3%;
  }
}

// styling the iframe section at the end of each page

#demo {
  text-align: center;
  margin: 8%;

  iframe {
    width: 100%;
    margin-bottom: 4%;
  }
}

//back to top link styled as button

#backtotop {
  text-decoration: none;
  background-color: #595959;
  color: $wade-white;
  padding: 0 2%;
  font-family: $handwritten;
  border-radius: 10px;
  box-shadow: #595959 1px 1px 8px;

  &:hover {
    background-color: $wade-teal;
  }
}

// footer styling for all pages /\/\/\/\/\

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  font-family: $handwritten;
  font-size: 1.5em;
  align-items: center;
  background-color: $wade-black;
  color: $wade-white;
  border-top: 2px solid $wade-white;
}
